.about{
    height: 650px; 

}

.about_h1{
    color: #bfea88;
    padding-top: 100px;
    text-align: left; 
    padding-left: 50px;
    font-family: courier, courier new, serif;
    font-size: 50px; 
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 3px solid transparent; 
    animation: typing 3s steps(14) infinite, blink-caret .5s step-end infinite; 

}

@keyframes typing{
    from{
        width: 0; 
    } to{
        width: 100%; 
    }
}

@keyframes blink-caret{
    from, to{
        border-color: transparent; 
    } 50%{
        border-color: #5c21aa;
    }
}

.avatar{
    position: absolute; 
    width: 200%;
    transform: translate(-300px, -490px); 

}

.about_text{
    color: #bfea88;
    text-align: left; 
    padding-left: 50px; 
    padding-right: 500px;
    padding-top: 20px;
    font-family: courier, courier new, serif;
    font-size: 25px;

}