.about{
    height: 650px; 

}

.about_h1{
    color: #c17eb0;
    padding-top: 100px;
    text-align: left; 
    padding-left: 50px;
    font-family: courier, courier new, serif;
    font-size: 50px; 
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 3px solid transparent; 
    animation: typing 3s steps(14) infinite, blink-caret .5s step-end infinite; 

}

@keyframes typing{
    from{
        width: 0; 
    } to{
        width: 100%; 
    }
}

@keyframes blink-caret{
    from, to{
        border-color: transparent; 
    } 50%{
        border-color: white;
    }
}

.avatar{
    position: absolute; 
    width: 100%;
    transform: translate(350px, -555px); 

}

.about_text{
    color: #c17eb0;
    text-align: left; 
    padding-left: 50px; 
    padding-right: 500px;
    padding-top: 20px;
    font-family: courier, courier new, serif;
    font-size: 25px;

}

.wrapper_btn{
    display: inline-block; 
    height: 30px; 
    padding-bottom: 50px; 
    padding-top: 20px; 
    padding-right: 900px; 

}

.wrapper_btn .download_btn{
    display: inline-block; 
    height: 60px; 
    width: 270px; 
    margin: 0 5px; 
    border-radius: 50px; 
    cursor: pointer; 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #c17eb0;
   
}

.wrapper_btn .download_btn .btn{
    display: inline-block; 
    height: 60px; 
    width: 60px; 
    border-radius: 50px; 
    box-sizing: border-box; 
    line-height: 60px; 

}

.wrapper_btn .download_btn .btn img{
    display: inline-block; 
    margin-left: auto;
    margin-right: auto; 
    width: 50%; 
    text-align: center; 
    transform: translateY(10px); 
    font-size: 25px; 
    line-height: 60px;
    color: white;

}

.wrapper_btn .download_btn a{
    text-decoration: none; 
    text-align: center; 
    font-family: courier, courier new, serif; 
    font-size: 20px;
    font-weight: 900; 
    line-height: 50px; 
    margin-right: 20px; 
    margin-left: 10px;
    color: black; 
    
}