.home{
    height: 600px; 
    
}

.home_background{
    min-height: 112%; 
    background-image: url("headshot.jpg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    transform: translateY(-20px);

}

.name{
    -webkit-text-stroke: 3px #bfea88;
    height: 600px; 
    color: rgba(0, 0, 0, 0.5);
    justify-self: left;
    transform: translateY(250px); 
    font-family: Impact;
    letter-spacing: .2rem;
    text-align: center;
    font-size: 70px;
    text-shadow: 10px 10px 20px #000000;
    
}