.home{
    height: 600px; 
    
}

.home_background{
    position: absolute;
    min-height: 100%; 
    min-width: 120%; 
    background-image: url("headshot.jpg"); 
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    transform: translate(-20px, -20px);
    overflow: hidden; 

}

.name{
    -webkit-text-stroke: 3px #bfea88;
    height: 600px; 
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(250px); 
    font-family: Impact;
    letter-spacing: .2rem;
    text-align: center;
    font-size: 70px;
    text-shadow: 10px 10px 20px #000000;
    
}