.projects{
    height: 600px;
    padding-top: 100px;

}

.projects h1{
    color: #ab5422;

}

.projects h2{
    color: #ab5422;
    
}

.project-card{
    overflow: hidden; 
    display: inline-block; 
    align-items: center;
    width: 350px; 
    height: 200px;
    border-radius: 10px; 
    background-color: #ab5422; 
    margin: 10px; 

}

.project-card img{
    float: right;
    width: 22px; 
    height: 22px;
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 10px;


}

.project-card h1{
    color: black;   
    padding-top: 40px;

}