.home{
    height: 100vh; 
    width: 100%; 
    display: grid; 
    align-items: center;  
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 50px; 
}

.home img{
    float: left; 
    margin-top: 8%;
    margin-left: 5%;  
    width: 375px; 
    height: 500px; 
    border-radius: 10%; 
}

.home .header{
    color: #c17eb0; 
    font-family: Arial, Helvetica, sans-serif;
    width: 800px; 
    height: 50%; 
    float: right; 
    font-size: 30px; 
}

.name{
    -webkit-text-stroke: 3px #bfea88;
    height: 600px; 
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(250px); 
    font-family: Impact;
    letter-spacing: .2rem;
    text-align: center;
    font-size: 70px;
    text-shadow: 10px 10px 20px #000000;
    
}